.box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 10px;
}
.box p {
    grid-column: span 2; 
    grid-row: span 1;
    grid-column: 1 / -1;
}
.items {
    background-color: rgb(244, 244, 244);
    padding: 20px;
    border: 1px solid #24308c;
    border-width: 10px;
    border-radius: 1em;
    color: black;
    text-align: center;
    box-sizing: border-box;
}

.items img {
    background-position: center;
    background-repeat: no-repeat;
        background-size: cover;
    height: 55vh;
}
.items p {
    color:black;
}

.mon-titre, .description-titre {
    color: black;
}

