.box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 10px;
}
.box p {
    grid-column: span 2; 
    grid-row: span 1;  
    grid-column: 1 / -1;  
}
.items {
    background-color: blue;
    padding: 20px;
    border: 1px solid #24308c;
    border-radius: 1em;
    color: white;
    text-align: center;
    box-sizing: border-box;  
}

.items img {
    width: 100%;
    border-radius: 1em;
}

.mon-titre, .description-titre {
    color: white;
}